---
layout: default
---
<div id="atrakcje">
	<input class="search" placeholder="Szukaj…" />
	<div class="sortuj">Gdzie: 
		<button class="przyciskAtrakcje">Bełchatów</button>
		<button class="przyciskAtrakcje">Bogusławice</button>
		<button class="przyciskAtrakcje">Bolimów</button>
		<button class="przyciskAtrakcje">Inowłódz</button>
		<button class="przyciskAtrakcje">Ldzań-Talar</button>
		<button class="przyciskAtrakcje">Lipce Reymontowskie</button>
		<button class="przyciskAtrakcje">Łęczyca</button>
		<button class="przyciskAtrakcje">Łódź</button>
		<button class="przyciskAtrakcje">Nieborów</button>
		<button class="przyciskAtrakcje">Oporów</button>
		<button class="przyciskAtrakcje">Pabianice</button>
		<button class="przyciskAtrakcje">Piorunów</button>
		<button class="przyciskAtrakcje">Piotrków Trybunalski</button>
		<button class="przyciskAtrakcje">Poświętne</button>
		<button class="przyciskAtrakcje">Skierniewice</button>
		<button class="przyciskAtrakcje">Sulejów</button>
		<button class="przyciskAtrakcje">Tomaszów Mazowiecki</button>
		<button class="przyciskAtrakcje">Walewice</button>
		<button class="przyciskAtrakcje">Zgierz</button>
	</div>
	<div class="sortuj">Rodzaj: 
		<button class="przyciskAtrakcje">miejsce</button>
		<button class="przyciskAtrakcje">wydarzenie</button>
		<button class="przyciskAtrakcje">inne</button>
	</div>
	<ul class="list">
	{% for atrakcja in site.atrakcje %}
		<li class="film">
			<a href="/atrakcje/{{ atrakcja.link }}/" title="{{ atrakcja.title }}">
				<div class="klatka">
					<img class="svg" src="/img/klisza.svg">
					{% unless atrakcja.fot %}<img class="kadr" src="/atrakcje/{{ atrakcja.link }}.jpg" alt="{{ atrakcja.title }}" width="300" height="200">{% else %}<img class="kadr" src="/img/placeholder.png" alt="Brak zdjęcia do tej atrakcji" width="300" height="200">{% endunless %}
					<img class="svg" src="/img/klisza.svg">
				</div>
				<h3 class="tytul">{{ atrakcja.title }}</h3>
			</a>
			<p><strong>Gdzie:</strong> <span class="gdzie przyciskAtrakcje">{{ atrakcja.gdzie }}</span></p>
			<p><strong>Rodzaj:</strong> <span class="rodzaj przyciskAtrakcje">{{ atrakcja.rodzaj }}</span></p>
		</li>
	{% endfor %}
	</ul>
</div>
